:root { 
--gray_600:#727272; 
--gray_51:#f8f8f8; 
--gray_400:#bdbdbd; 
--red_600:#e64040; 
--gray_800:#383838; 
--blue_A700:#0061ff; 
--black_900_3f:#0000003f; 
--gray_300:#e6e6e6; 
--gray_50:#f9f9f9; 
--bluegray_900:#252b42; 
--bluegray_800:#26335d; 
--black_900_11:#00000011; 
--black_900:#000000; 
--deep_orange_200:#feb896; 
--deep_orange_400:#fc724d; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
}