
 @font-face { font-style : bold; src: url("assets/fonts/montserratbold700.ttf"); font-family : "Montserrat"; font-weight : 700;  }
 @font-face { font-style : normal; src: url("assets/fonts/montserratregular400.ttf"); font-family : "Montserrat"; font-weight : 400;  }